<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.admin.update.mapper.ExcelRoadInformationMapper">
    <!--批量插入-->
    <insert id="addRoads" parameterType="java.util.List">
        insert into road_information(order_number,stake_number,x_coordinate,
        y_coordinate,type,lat,lon,method,surface,up,down,bottom,belong) values
        <foreach collection="roads" item="item" index="index" separator=",">
            (#{item.order_number},#{item.stake_number},#{item.x},#{item.y},#{item.type},
            #{item.lat},#{item.lon},#{item.method},#{item.surface},#{item.up},
            #{item.down},#{item.bottom},#{item.belong})
        </foreach>
    </insert>
    <!--批量更新-->
    <update id="updateRoads" parameterType="java.util.List">
        <foreach collection="roads" item="item" index="index" separator=";">
            update users
            <set>
                <if test="item.order_number!=null">
                    order_number=#{item.order_number},
                </if>
                <if test="item.stake_number!=null">
                    stake_number = #{item.stake_number},
                </if>
                <if test="item.x!=null">
                    x_coordinate= #{item.x},
                </if>
                <if test="item.y!=null">
                    y_coordinate= #{item.y},
                </if>
                <if test="item.username!=null">
                    type= #{item.type},
                </if>
                <if test="item.belong!=null">
                    belong = #{item.belong}
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>
    <!--批量删除-->
    <delete id="deleteRoads" parameterType="java.util.List">
        delete from road_information where id in
        (<foreach collection="roads" item="item" index="index" separator=",">
            #{item.id}
         </foreach>
        )
    </delete>
    <!--批量查询，根据belong的i查询-->
     <select id="getRoads" resultType="com.example.demo.admin.update.domain.RoadInformation">
        select * from road_information where belong = #{i}
     </select>
    <!--private int order_number; //序号
    private String stake_number;
    private double x;  //x坐标
    private double y;  //y坐标
    private String type; //类型
    private double lat; //经纬度
    private double lon; //经纬度
    private String method; //填方or挖方
    private double surface; //面层宽度
    private double up; //上基层宽度
    private double down; //下基层宽度
    private double bottom; //底基层宽度
    private int belong;  //属于什么编号（判断具体是那一次表提交的记录的标识）
    -->
</mapper>