<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace对应的是mapper/dao层的地址-->
<!--修改在线表的相关内容-->
<mapper namespace="com.example.demo.alice.user.mapper.OnlineUserMapper">
    <!--  id对应接口中的抽象方法，parameterType类型（后面肯定会有复杂类型）, resultType返回类型 -->
    <!--向在线用户表中插入一个用户-->
    <insert id="insertOnlineUser" parameterType="com.example.demo.alice.user.domain.OnlineUser">
        insert into sys_users_online(
        <if test="username!=null and username !=''">login_name,</if>
        <if test="ipaddr!=null and ipaddr!=''">ipaddr,</if>
        <if test="loginLocation!=null and loginLocation !=''">ip_location,</if>
        <if test="browser!=null and browser !=''">browser,</if>
        <if test="os!=null and os !=''">os,</if>
        <if test="status!=null and status !=''">status,</if>
        last_access_time,
        login_time
        )
        values (
        <if test="username!=null and username !=''">#{username},</if>
        <if test="ipaddr!=null and ipaddr !=''">#{ipaddr},</if>
        <if test="loginLocation!=null and loginLocation !=''">#{loginLocation},</if>
        <if test="browser!=null and browser !=''">#{browser},</if>
        <if test="os!=null and os !=''">#{os},</if>
        <if test="status!=null and status !=''">#{status},</if>
        sysdate(),
        sysdate()
        )
    </insert>

    <!--向登录日志表插入一条信息-->
    <insert id="insertLoginInfor" parameterType="com.example.demo.alice.user.domain.OnlineUser">
        insert into sys_logininfor(
        <if test="username!=null and username !=''">username,</if>
        <if test="ipaddr!=null and ipaddr!=''">ipaddr,</if>
        <if test="loginLocation!=null and loginLocation !=''">ip_location,</if>
        <if test="browser!=null and browser !=''">browser,</if>
        <if test="os!=null and os !=''">os,</if>
        <if test="status!=null and status !=''">status,</if>
        <if test="msg!=null and msg !=''">msg,</if>
        login_time
        )
        values (
        <if test="username!=null and username !=''">#{username},</if>
        <if test="ipaddr!=null and ipaddr !=''">#{ipaddr},</if>
        <if test="loginLocation!=null and loginLocation !=''">#{loginLocation},</if>
        <if test="browser!=null and browser !=''">#{browser},</if>
        <if test="os!=null and os !=''">#{os},</if>
        <if test="status!=null and status !=''">#{status},</if>
        <if test="msg!=null and msg !=''">#{msg},</if>
        sysdate()
        )
    </insert>
<!--    <update id=""> </update>-->
<!--    <delete id=""> </delete>-->
</mapper>