<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace对应的是mapper/dao层的地址-->
<mapper namespace="com.example.demo.alice.user.mapper.AliceUserMapper">
    <!--  id对应接口中的抽象方法，parameterType类型（后面肯定会有复杂类型）, resultType返回类型 -->
<!--    <select id="createUser" parameterType="com.example.demo.alice.user.domain.AliceUser">-->

<!--    </select>-->

    <!-- 创建一个新用户   -->
    <insert id="createUser" parameterType="com.example.demo.alice.user.domain.AliceUser">
        insert into userinfo(username,password,clear_password) value(#{username},#{password},#{clearPassword})
    </insert>
<!--    <update id=""> </update>-->
<!--    <delete id=""> </delete>-->
</mapper>