<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace对应的是mapper/dao层的地址-->
<mapper namespace="com.example.demo.alice.publicactivity.mapper.PublicactivityMapper">
    <!--  id对应接口中的抽象方法，parameterType类型（后面肯定会有复杂类型）, resultType返回类型 -->
    <select id="getAll" resultType="com.example.demo.alice.publicactivity.domain.Publicactivity">
       select * from alice_publicactivity order by time desc
    </select>
    <select id="getNine" resultType="com.example.demo.alice.publicactivity.domain.Publicactivity">
       select * from alice_publicactivity order by time desc limit 9
    </select>
    <select id="getPublicactivity" resultType="com.example.demo.alice.publicactivity.domain.Publicactivity">
        select * from alice_publicactivity where id = #{id}
    </select>
    <select id="getPublicactivityByString" resultType="com.example.demo.alice.publicactivity.domain.Publicactivity">
        select * from alice_publicactivity
        <where>
            <if test="keyword!=null and keyword!=''">
                and topic like concat('%',#{keyword},'%')
            </if>
        </where>
    </select>
</mapper>