<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace对应的是mapper/dao层的地址-->
<mapper namespace="com.example.demo.alice.goodthings.mapper.GoodthingsMapper">
    <!--  id对应接口中的抽象方法，parameterType类型（后面肯定会有复杂类型）, resultType返回类型 -->
    <select id="getNine" resultType="com.example.demo.alice.goodthings.domain.Goodthings">
       select * from alice_goodthings order by time desc limit 9
    </select>
    <select id="getAll" resultType="com.example.demo.alice.goodthings.domain.Goodthings">
       select * from alice_goodthings order by time desc
   </select>
    <select id="getGoodthingsByid" resultType="com.example.demo.alice.goodthings.domain.Goodthings" >
       select * from alice_goodthings where id = #{id}
    </select>
    <select id="getGoodthingsByString" resultType="com.example.demo.alice.goodthings.domain.Goodthings">
       select * from alice_goodthings
       <where>
           <if test="keyword !=null and keyword !=''">
               and topic like concat('%',#{keyword},'%')
           </if>
       </where>
    </select>
</mapper>