<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sakura</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<h1 align="center">hello sakura</h1>
<br />
<h1 align="center">Alice</h1>

</body>
</html>
<script>
    // console.log("username",username,password)
    $("#button1").click(function(){
        var username = $("#username").val()
        var password = $("#password").val()
        console.log("username",username)
        console.log("password",password)
        $.ajax({
            url: "http://localhost:8080/loginJwt",
            type:"post",
            data:{username:username,password:password},
            contentType: "application/x-www-form-urlencoded",
            success:function(data){
                try{
                    console.log(data)
                    localStorage.setItem("token",data)
                }catch(e){
                    console.log(e)
                }
            }
        })
    });

    $("#button2").click(function(){
        var token = window.localStorage.getItem("token")
        $.ajax({
            url:"http://localhost:8080/hello",
            type:"get",
            data:{token:token},
            success:function(res){
                console.log(res)
            }
        })
    })
    $("#button3").click(function(){
        var token=window.localStorage.getItem("token")
        console.log("退出登录前token",token)
        window.localStorage.removeItem("token")
        console.log("退出登录之后的token",token)
    })
    //bug测试
    var f1 = function(){
        var x = "ss"
        console.log("这是f1函数的内容"+x)
    }

    var f2 = function(){
        var x= "sr"
        console.log("这是f2函数的内容"+x)
    }

    function f3 (){
        f1()
        f2()
        console.log("这是f3函数的内容")
    }

    //执行f3
    f3()

</script>
<!DOCTYPE html>
