<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf模版引擎</title>
</head>
   <body>
        <p th:text="${user.age}+'  '+${user.address}">2222</p>
        <P th:inline="text">[[${user.id}]]+[[${user.name}]]+[[${user.age}]]+[[${user.email}]]+[[${user.address}]]
            +[[${user.username}]]+
            [[${user.password}]]
        </P>
        <!--上述代码能成功显示出数据库中数据，但这肯定不是前后端分离把...前端拿到的是user的模版的数据，虽然也是从后端传递的..-->
        <p th:object="${user}">[[*{name}]],[[*{address}]],[[*{password}]]</p>
        <p>[[#{user.username}]]</p>
        <!--@链接-->
        超链接href访问的是controller层的接口，而不是本地的网页url，要从c层返回视图...
        <a th:href="@{/}">国际化</a>
        <br />
        <a th:href="@{/demo/test1.html}">跳转到test1</a>
   <h1>th:each测试</h1>

   </body>
</html>