<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace对应的是mapper/dao层的地址-->
<mapper namespace="com.example.demo.admin.roadInfoTest.mapper.RoadInfoMapper">
    <!--  id对应接口中的抽象方法，parameterType类型（后面肯定会有复杂类型）, resultType返回类型 -->
<!--    查询所有记录-->
    <select id="getAll" resultType="com.example.demo.admin.roadInfoTest.domain.RoadInfo">
          select * from road_info
    </select>

<!-- 插入单条记录-->
    <insert id="addRoadInfo" parameterType="com.example.demo.admin.roadInfoTest.domain.RoadInfo">
        insert into road_info(number,status) values (#{number},#{status})
    </insert>

<!--  插入多条记录-->
      <insert id="addRoadInfos" parameterType="java.util.List" >
        insert into road_info(number,status) values
        <foreach collection="roadInfos" item="item" index="index" separator=",">
            ((#{item.number},#{item.status}))
        </foreach>
      </insert>

</mapper>