<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace对应的是mapper/dao层的地址-->
<mapper namespace="com.example.demo.mapper.TestMapper">
    <!--  id对应接口中的抽象方法，parameterType类型（后面肯定会有复杂类型）, resultType返回类型 -->
    <select id="getAll" resultType="com.example.demo.model.Student">
        select * from student
    </select>
    <insert id="addStudent" parameterType="com.example.demo.model.Student">
         insert into student(uid,name,age) values (#{id},#{name},#{age})
    </insert>
    <!--根据名字返回学生信息-->
    <select id="getStudentByName" resultType="com.example.demo.model.Student" parameterType="com.example.demo.model.Student">
        select * from student
        <where>
            <if test="name !=null and name !='' ">
                name = #{name}
            </if>
        </where>
    </select>
    <!--根据dbn和id得到信息-->
    <select id="getStudentDbnAndId" resultType="com.example.demo.model.Student" parameterType="com.example.demo.model.Student">
        select * from student
        <where>
            (dbn = #{dbn} or 1 = 1)
            <if test="id !=null and id !=''">
                and uid = #{id}
            </if>
        </where>
    </select>
</mapper>